-# %h1 Users#index
-# %p Find me in app/views/users/index.html.haml

= render "devise/shared/header"
.wrapper
  .body
    - if user_signed_in?
      .index__user
        - @users.each do |u|
          %a{href: "/users/#{u.id}"}
            .index__user__name
              = u.name 
        .users-paginate
          .users-paginate__page
            = paginate(@users)