= render "devise/shared/header"

.post-success
  .post-success__container
    .post-success__container__moji
      %h3
        投稿が完了しました。
    = link_to "戻る", posts_path, class: "post-success__container__btn"
