= render "devise/shared/header"

.posts
  .container
    = form_tag('/posts', method: :post) do
      .post__title
        投稿する
      .post__image
        %input{autofocus: "true", name: "image", placeholder: "Image URL", type: "text"}/
      .post__content
        %textarea{cols: "30", name: "text", placeholder: "text", rows: "10"}
      .post__submit
        %input{type: "submit", value: "SENT", href: "/posts"}/