
.follower-members {
  width: 100%;
  height: 100vh;
  background: linear-gradient(25deg, #ff5b5bd3, rgba(255, 236, 149, 0.6)),
  url(inu.png);
  background-size: cover;
  padding-top: 30px;
}
.follower-members__list {
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  min-width: 510px;
  height: 90vh;
}

.member {
  margin: 0 auto 10px;
  height: 50px;
  width: 400px;
  margin-bottom: 20px;
  background-color: rgba(245, 245, 245, 0.85);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
  text-align: center;
  padding-top: 30px;
}

// .member :hover {
//   background-color: #ff5b5bd3;
// }

.member a {
  color: rgb(107, 107, 107);
  font-size: 20px;
}