// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timeline {
  width: 100%;
  height: 100%;
  background: linear-gradient(25deg, #ff5b5bd3, rgba(255, 236, 150, 0.6)),
  url(inu.png);
  background-size: cover;
}

.timeline-container {
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  min-width: 510px;
  height: 100%;
  min-height: 630px;
  background: linear-gradient(25deg, #ff5b5bd3, rgba(255, 236, 150, 0.6));
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.timeline-submit {
  width: 100%;
  height: 60px;
  max-width: 600px;
  min-width: 510px;
  margin-bottom: 30px;
  padding-top: 30px;
  &__btn {
    display: block;
    padding-top: 18px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    height: 42px;
    background-color: #ff5b5b;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }
  &__btn:hover {
    background-color: #ff5b5bcc;
  }
}

.card-content{
  // background-color: rgb(65, 225, 190);
  margin: 0 auto;
  width: 100%;
  // max-width: 600px;
  // min-width: 510px;
  min-height: 65px;
  max-height: 980px;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  position: relative;
  &__left {
    font-size: 14px;
    white-space: nowrap;
    margin-left: 12px;
    height: 70px;
    width: 137px;
    float: left;
    // background-color: olive;
    position: relative;
    position: absolute;
    top: 0;
  }
}

.card-content__left__name a{
  display: block;
  padding: 20px 0 18px 15px;
  color: white;
  width: 86%;
  background-color: #ff5b5b;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
}

.card-content__left__name a:hover {
  background-color: #ff5b5bcc;
}

.card-content__right {
  padding: 0 5px;
  margin-left: 140px;
  margin-right: 10px;
  width: 100%;
  max-width: 3700px;
  min-width: 364px;
  // background-color: royalblue;
  float: left;
  border-radius: 0 8px 8px 0;
  min-height: 60px;
  &__top {
    width: 100%;
    height: 28px;
    background-color: rgba(245, 245, 245, 0.85);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(182, 182, 182, 0.7);
    border-radius: 0 8px 0 0;
    &__date {
      color: gray;
      font-size: 14px;
      padding: 7px 5px 0 10px;
    }
  }
  &__bottom {
    width: 100%;
    min-height: 26px;
    max-height: 600px;
    &__text{
      padding: 4px 5px 0 10px;
      min-height: 26px;
      background-color: rgba(245, 245, 245, 0.85);
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      word-wrap:break-word;
      border-radius: 0 0 8px 0;
    }
  }
}

// ここから投稿画面

.posts {
  width: 100%;
  height: 100vh;
  background: linear-gradient(25deg, #ff5b5bd3, rgba(255, 236, 150, 0.6)),
  url(inu.png);
  background-size: cover;
  &__container{
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    min-width: 510px;
    height: 100%;
    background: linear-gradient(25deg, #ff5b5bd3, rgba(255, 236, 150, 0.6));
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
  &__new-posts {
    text-align: center;
    width: 95%;
    margin: 0 auto 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 5px;
    color: rgb(90, 90, 90);
  }
}

.post-form {
  width: 74%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 30px;
  position: relative;
  &__submit{
    // padding-top: 18px;
    text-align: center;
    width: 110px;
    height: 74px;
    background-color: #ff5b5b;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    position: absolute;
  }
}

.post-form__submit:hover {
  background-color: #ff5b5bcc;
}

// 投稿完了画面

.post-success {
  width: 100%;
  height: 100vh;
  background: linear-gradient(25deg, #ff5b5bd3, rgba(255, 236, 150, 0.6)),
  url(inu.png);
  background-size: cover;
  &__container {
    padding-top: 30px;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    min-width: 510px;
    height: 100%;
    min-height: 630px;
    background: linear-gradient(25deg, #ff5b5bd3, rgba(255, 236, 150, 0.6));
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    &__moji {
      text-align: center;
      font-size: 24px;
      color: rgb(90, 90, 90);
    }
    &__btn {
      margin: 30px auto 0;
      padding-top: 24px;
      display: block;
      text-align: center;
      width: 150px;
      height: 50px;
      background-color: #ff5b5b;
      color: white;
      cursor: pointer;
      border-radius: 10px;
    }
  }
}

.post-success__container__btn:hover {
  background-color: #ff5b5bcc;
}