// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dm-main {
  height: calc(100vh - 80px);
  width: 100%;
  background: linear-gradient(25deg, #ff5b5bd3, rgba(255, 236, 149, 0.6)),
  url(inu.png);
  background-size: cover;
  position: relative;
}

.dm-members__lists {
  margin: 0 auto;
  width: 60%;
  height: 100%;
}

.dm-members {
  width: 90%;
  max-width: 600px;
  min-width: 510px;
  height: 26px;
  margin: 0 auto;
  background-color: rgba(245, 245, 245, 0.85);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  border-radius:  0 0 10px 10px;
  &__list {
    float: left;
    a {
      color: #ff5b5b;
    }
  }
  &__moji {
    float: left;
  }
}

.text-center {
  margin: auto;
}

.messages {
  margin: 0 auto 10px;
  width: 90%;
  max-width: 600px;
  min-width: 510px;
  height: 510px;
  border-radius: 10px;
  padding-top: 10px;
}

.current-user__message {
  max-width: 600px;
  min-width: 510px;
  margin-bottom: 10px;
  text-align: right;
  &__content {
    margin: 0 5px 5px 0;
    display: inline-block;
    text-align: left;
    padding: 10px 10px 10px 15px;
    min-width: 20px;
    max-width: 350px;
    background-color: #ff5b5bb4;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    word-wrap:break-word;
    border-radius: 25px;
  }
  &__time {
    font-size: 12px;
    color: gray;
  }
}

.frend-user__message {
  max-width: 600px;
  min-width: 510px;
  margin-bottom: 10px;
  text-align: left;
  &__content {
    margin: 0 5px 5px 0;
    display: inline-block;
    text-align: left;
    padding: 10px 12px 10px 15px;
    min-width: 20px;
    max-width: 350px;
    background-color: #ffffffc9;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    word-wrap:break-word;
    border-radius: 25px;
  }
  &__time {
    font-size: 12px;
    color: gray;
  }
  &__user {
    color: black;
  }
}

.dm-footer {
  border-top: 1px solid rgba(133, 133, 133, 0.623);
  width: 100%;
  height: 80px;
  background: #ff5b5bbb;
  position: absolute;
  bottom: 0;
}

.dm-footer__input {
  width: 475px;
  margin: 15px auto;
  position: relative;
  &__text {
    width: 300px;
    height: 50px;
    padding: 0 40px 0 10px;
    color: #434a54;
    border-style: none;
    border-radius: 10px;
  }

  &__image {
    font-size: 1.3rem;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 140px;
  }
  &__submit-btn {
    width: 100px;
    height: 50px;
    margin-left: 15px;
    background-color: #ff5b5b;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }
}
.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #ff5b5b;
}
.hidden {
  display: none;
}

// 各DMのcss dmRoom

.dmRoom {
  width: 100%;
  height: 100vh;
  background: linear-gradient(25deg, #ff5b5bd3, rgba(255, 236, 149, 0.6)),
  url(inu.png);
  background-size: cover;
  padding-top: 30px;
  &__container {
    text-align: center;
    margin: 20px auto;
    width: 80%;
    max-width: 530px;
    min-width: 380px;
    height: 520px;
    max-height: 600px;
    // background-color: rgba(245, 245, 245, 0.85);
    // box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    // border-radius: 10px;
    padding-top: 30px;
    &__list {
      margin: 0 auto 20px;
      padding-top: 28px;
      text-align: center;
      width: 80%;
      height: 52px;
      background-color: #ff5b5b;
      color: white;
      border-radius: 10px;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }
  }
}
.dmRoom__container__list:hover {
  background-color: #ff5b5bcc;
}

.dm-start {
  display: block;
  margin: 20px auto 0;
  padding-top: 28px;
  text-align: center;
  width: 40%;
  height: 52px;
  background-color: #ff5b5b;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.dm-start-text {
  font-size: 24px;
  color: rgb(70, 70, 70);
}