// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-contents {
  width: 100%;
  height: 100vh;
  background: linear-gradient(25deg, #ff5b5bd3, rgba(255, 236, 149, 0.6)),
  url(inu.png);
  background-size: cover;
  padding-top: 30px;
}

.user-page {
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  min-width: 510px;
  height: 215px;
  background-color: rgba(245, 245, 245, 0.85);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding-top: 30px;
  &__image{
    float: left;
    margin-left: 30px;
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }
  &__info {
    width: 300px;
    float: left;
    margin: 5px auto 0;
  }
  &__name{
    text-align: center;
    color: rgb(107, 107, 107);
    font-size: 30px;
  }
  &__follow {
    margin: 0 auto 10px;
    width: 180px;
    height: 30px;
    border-bottom: 1px solid rgba(107, 107, 107, 0.6);
    &__moji {
      padding-top: 7px;
      float: left;
      color: rgb(107, 107, 107);
    }
    &__count{
      float: left;
      margin-left: 46px;
      font-size: 20px;
    }
  }
  &__follower {
    margin: 0 auto 20px;
    width: 180px;
    height: 30px;
    border-bottom: 1px solid rgba(107, 107, 107, 0.6);
    &__moji {
      padding-top: 7px;
      float: left;
      color: rgb(107, 107, 107);
    }
    &__count{
      float: left;
      margin-left: 30px;
      font-size: 20px;
    }
  }
  &__log-out {
    float: left;
    margin-left: 28px;
    width: 110px;
    height: 30px;
    background-color: #727272;
    border-radius: 30px;
    padding-top: 10px;
    text-align: center;
  }
  &__edit {
    float: left;
    margin-left: 18px;
    width: 110px;
    height: 30px;
    background-color: #727272;
    border-radius: 30px;
    padding-top: 10px;
    text-align: center;
  }
}

.current-user {
  margin-left: 10px;
  height: 50px;
  width: 280px;
}
.user-page__log-out a{
  color: white;
}
.user-page__edit a{
  color: white;
}

.follow-now {
  float:left;
  height: 50px;
  width: 180px;
  background-color: #ff5b5b;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-left: 10%;
  font-size: 18px;
  cursor: pointer;
}
.follows {
  float:left;
  height: 50px;
  width: 180px;
  background-color: #ff5b5b;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-left: 10%;
  font-size: 18px;
  cursor: pointer;
}

.user-page__follow__count {
  color: rgb(48, 48, 48);
}
.user-page__follower__count {
  color: rgb(48, 48, 48);
}

.message-sender{
  padding-top: 12px;
  background-color: white;
  float: right;
  margin-right: 10%;
  font-size: 18px;
  width: 50px;
  height: 38px;
  border: 1px solid #ff5b5b;
  border-radius: 25%;
  text-align: center;
  color: #ff5b5b;
  cursor: pointer;
}
.message-sender a{
  color: #ff5b5b;
}
.new_room {
  float: right;
  margin-right: 10%;
}
.message-start {
  font-size: 18px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 1px solid #ff5b5b;
  border-radius: 25%;
  text-align: center;
  color: #ff5b5b;
  cursor: pointer;
}
.message-start :hover {
  background-color: #ff8c8c9a;
}
.user-post {
  margin: 30px auto;
  width: 80%;
  max-width: 600px;
  height: 1400px;
  background-color: rgba(245, 245, 245, 0.85);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
}