
.user-edit {
  width: 100%;
  height: 100%;
  background: linear-gradient(25deg, #ff5b5bd3, rgba(255, 236, 149, 0.6)),
  url(inu.png);
  background-size: cover;
  padding-top: 30px;
}

.edit-card {
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  height: 730px;
  background-color: rgba(245, 245, 245, 0.85);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding-top: 30px;
  &__title {
    text-align: center;
    font-size: 24px;
    color: rgb(107, 107, 107);
  }
  &__info{
    margin: 0 auto;

    &__image {
      margin: 20px auto 30px;
      width: 180px;
      height: 180px;
      background-color: white;
      border-radius: 10%;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }
  }
}
.input-name, .input-email, .input-password {
  width: 90%;
  height: 30px;
  box-shadow: 0 0 0.5px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-left: 1em;
  margin-bottom: 1em;
}

.edit-btn {
  height: 50px;
  width: 420px;
  margin: 10px auto;
  &__save {
    float: left;
    width: 200px;
    height: 50px;
    background-color: #ff5b5b;
    border-radius: 30px;
    text-align: center;
    color: white;
  }
  &__cancel {
    margin-left: 20px;
    float: left;
    width: 200px;
    height: 50px;
    background-color: #727272;
    border-radius: 30px;
    text-align: center;
    color: white;
    
  }
}
